@using ProblemProcessor
@model WebApp.Models.BlackBox.CreateBlackBoxViewModel

@{
    ViewData["Title"] = "Черный ящик";
}

<h2>Создание задания "Черный ящик"</h2>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" asp-controller="BlackBox">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <textarea style="height: 80px" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceCode" class="control-label">Код программы</label>
                <textarea style="height: 500px" asp-for="SourceCode" class="form-control"></textarea>
                <span asp-validation-for="SourceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneratorType" class="control-label"></label>
                <select asp-for="GeneratorType" class="form-control" asp-items="ViewBag.GeneratorType"></select>
                <span asp-validation-for="GeneratorType" class="text-danger"></span>
            </div>

            <div>
                <input asp-for="Type" value="@ProblemTypes.BlackBox" type="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
