@using ProblemProcessor
@model WebApp.Models.CodeCorrector.CreateCodeCorrectorViewModel

@{
    ViewData["Title"] = "CreateCodeCorrectorViewModel";
}

<h2>Создание задания Исправление кода</h2>
<hr />
<div class="row" style="margin-top: 20px">
    <div class="col-md-6">
        <form asp-action="Create" asp-controller="CodeCorrector">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Наименование</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneratorType" class="control-label">Генератор</label>
                <select asp-for="GeneratorType" class="form-control" asp-items="ViewBag.GeneratorType"></select>
                <span asp-validation-for="GeneratorType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SourceCode" class="control-label">Исходный код программы</label>
                <textarea asp-for="SourceCode" style="height: 250px" class="form-control"></textarea>
                <span asp-validation-for="SourceCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IncorrectSourceCode" class="control-label">Исходный код программы с ошибкой</label>
                <textarea asp-for="IncorrectSourceCode" style="height: 250px" class="form-control"></textarea>
                <span asp-validation-for="IncorrectSourceCode" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="Type" value="@ProblemTypes.CodeCorrector" type="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
