
@model WebApp.Models.BlackBox.DescBlackBoxViewModel


<div style="margin-top: 50px" class="row">
    <div class="col-md-6">
        <form asp-action="Check" asp-controller="BlackBox">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="SourceCode" type="hidden" />
            </div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Входные данные </label>
                <input id="input-data" class="form-control" />
            </div>

            <input type="button" style="height: 100px; width: 100px; background: black; color: white" id="square" value="Нажми здесь"/>

            <div class="form-group">
                <label class="control-label">Выходные данные </label>
                <input class="form-control" id="output-data" />
            </div>

            <div class="form-group">
                <label asp-for="Answer" class="control-label">Введите программу которая спрятано в черном ящике</label>
                <textarea asp-for="Answer" class="form-control"></textarea>
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Проверить" class="btn btn-default" />
            </div>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Номер отправки
                    </th>
                    <th>
                        Статус
                    </th>
                    <th>
                        Время отправки
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Submissions.Count; i++)
                {
                    var item = Model.Submissions[i];
                    <tr>
                        <td>@(i + 1)</td>
                        <td>
                            @Html.DisplayFor(x => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SendTime)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



