@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Iron programmer</h1>
    <p class="lead">Iron programmer - сайт для обучения программированию. 
    </p>
    <p class="lead">Тренируй свои навыки программирования, совершенствуйся каждый день! </p>
    <p><a href="/Problemset/index" class="btn btn-primary btn-lg">Начать решать задачи &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Уникальные задания</h2>
        <p>
            У нас собраны уникальные задания для обучения программированию. Они разработаны, чтобы Вы учились писать 
            код по кусочкам, анализировать готовый код программы, уметь вычислять как изменяются данные программы в ходе выполнения,
            а также исправлять ошибки в готовом коде.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Разделение по сложности и типу</h2>
        <p> Вы легко сможете выбрать задания для вашего уровня знаний. В сервисе представлены задания для пользователей
            разного уровня подготовки</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Рейтинг пользователей</h2>
        <p>Вы можете узнать свой уровень по отношению с другими пользователями системы</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Перейти &raquo;</a></p>
    </div>
</div>